DownloadUrl=https://aka.ms/vs/18/stable/installer
productSemanticVersion=18.10.0+12201.205
autoSelfUpdateMinVersion=4.10.30.302448642
LicenseUrl=https://go.microsoft.com/fwlink/?LinkID=2327714
PrivacyUrl=https://go.microsoft.com/fwlink/?LinkID=661471
KB2919355Url=https://go.microsoft.com/fwlink/?LinkId=403643
Win8OSNotSupportedUrl=https://go.microsoft.com/fwlink/?linkid=843932
OSNotSupportedUrl=https://go.microsoft.com/fwlink/?linkid=840937
DotNetNotSupportedUrl=https://go.microsoft.com/fwlink/?linkid=840938
LayoutHelpUrl=https://go.microsoft.com/fwlink/?linkid=849620
MajorVersion=18.0
IsFixed=false
